body{
    font-family: 'Nunito Sans', sans-serif;
}
h1{
    font-size: 40px;
}
.aname{
    color:royalblue;
}

.bname{
    color:red;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
