body{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0em;
}
p{
    color: dimgray;
    
}
h1{
    font-size: 40px;
}

footer p{
    text-align: center;
}
.orange-heighlight{
    color:orange;
}

.bname{
    color:red;
}
.half-width{
    width: 42%;
    float: left;
    margin-left: 5%;
    
}
.half-width img{
    width: 100%;
    border-radius: 25px;
}
.top-background{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;

}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon,tomato);
    padding: 10px 10px;
    font-weight: 500px;
    color:white;
    border-radius: 5px;
}

.dream-area{
 background-image: url("images/dream-bg.png");
 background-repeat: no-repeat;
 background-position: right;
}

.single-experience{
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
    height: 50%;
    padding: 10px;
    background-color: white;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg , lightsalmon, tomato);
    border-image-slice: 1;
   
}
#junior-dev{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    

}
